format-check-before.json
[{"updatedAt":"2026-06-03T19:43:21.081Z","createdAt":"2026-06-03T19:39:00.915Z","id":"8uSdTRQtoKoJ5GdO","name":"格式稳定性自检","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"hours":6}]}},"id":"sched-1","name":"Schedule","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[200,300]},{"parameters":{"fileSelector":"/home/node/.n8n-files/articles/2026-06-04_003436_0.md","options":{}},"id":"read-1","name":"Read Article","type":"n8n-nodes-base.readWriteFile","typeVersion":1.1,"position":[400,300]},{"parameters":{"jsCode":"const allItems = $input.all();\nconst results = [];\nfor (let i = 0; i < allItems.length; i++) {\n  const buf = await this.helpers.getBinaryDataBuffer(i, 'data');\n  let content = buf.toString('utf-8');\n  const fileName = allItems[i].json.fileName || 'article';\n  // Inline format logic\n  let lines = content.split('\\n');\n  let blocks = [];\n  let currentParagraph = [];\n  let firstNonEmpty = true;\n  const flushParagraph = () => {\n    if (currentParagraph.length > 0) {\n      blocks.push({ type: 'paragraph', text: currentParagraph.join(' ').replace(/\\s+/g, ' ').trim() });\n      currentParagraph = [];\n    }\n  };\n  for (let idx = 0; idx < lines.length; idx++) {\n    const trimmed = lines[idx].trim();\n    if (/^---+\\s*$/.test(trimmed)) { flushParagraph(); continue; }\n    if (firstNonEmpty && trimmed.length > 0) { firstNonEmpty = false; continue; }\n    if (/^[-*]\\s+/.test(trimmed)) { flushParagraph(); blocks.push({ type: 'list', text: trimmed.replace(/^[-*]\\s+/, '') }); continue; }\n    if (trimmed === '') { flushParagraph(); continue; }\n    currentParagraph.push(trimmed);\n  }\n  flushParagraph();\n  // Subtitle detection\n  blocks = blocks.map((b) => {\n    if (b.type !== 'paragraph') return b;\n    const m = b.text.match(/^([^\\s。！？!?]{2,25}?[：:？?])\\s*(.*)$/s);\n    if (m && m[1].length <= 25 && m[1].length >= 4 && !/^[一二三四五六七八九十0-9]+类[：:]$/.test(m[1])) {\n      return [{ type: 'subtitle', text: m[1].trim() }, { type: 'paragraph', text: m[2].trim() }];\n    }\n    return b;\n  }).flat();\n  let html = '';\n  for (const b of blocks) {\n    if (b.type === 'subtitle') {\n      html += '<p style=\"font-weight:bold;font-size:16px;margin:30px 0 10px 0;line-height:1.6;color:#222;\">' + b.text + '</p>\\n';\n    } else {\n      html += '<p style=\"text-indent:0;margin:15px 0;line-height:1.8;font-size:16px;\">' + b.text + '</p>\\n';\n    }\n  }\n  // Validation\n  const checks = {\n    font_size_16: (html.match(/font-size:16px/g) || []).length >= 3,\n    margin_30: html.includes('margin:30px 0 10px 0'),\n    font_weight_bold: html.includes('font-weight:bold'),\n    has_subtitles: (html.match(/font-weight:bold/g) || []).length >= 1,\n  };\n  const all_ok = Object.values(checks).every(v => v);\n  results.push({\n    json: {\n      fileName,\n      all_ok,\n      checks,\n      ts: new Date().toISOString(),\n      subtitle_count: (html.match(/font-weight:bold/g) || []).length\n    }\n  });\n}\n// Build log content from results\nfor (const r of results) {\n  r.binary = {\n    log_content: {\n      mimeType: 'text/plain',\n      fileType: 'text',\n      fileExtension: 'log',\n      data: Buffer.from(new Date().toISOString() + ' ' + JSON.stringify(r.json) + '\\n').toString('base64')\n    }\n  };\n  r.json.log_content = new Date().toISOString() + ' ' + JSON.stringify(r.json);\n}\nreturn results;"},"id":"check-1","name":"Format Check","type":"n8n-nodes-base.code","typeVersion":1,"position":[600,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"check-all-ok","leftValue":"={{ $json.all_ok }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"}},"id":"if-1","name":"All OK?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[800,300]}],"connections":{"Schedule":{"main":[[{"node":"Read Article","type":"main","index":0}]]},"Read Article":{"main":[[{"node":"Format Check","type":"main","index":0}]]},"Format Check":{"main":[[{"node":"All OK?","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true},"staticData":{"node:Schedule":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"dac1b8e5-994f-4db8-b27c-e0a4b783aec7","activeVersionId":"dac1b8e5-994f-4db8-b27c-e0a4b783aec7","versionCounter":14,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-06-03T19:39:00.919Z","createdAt":"2026-06-03T19:39:00.919Z","role":"workflow:owner","workflowId":"8uSdTRQtoKoJ5GdO","projectId":"kZTCj6K5LhchX3bm","project":{"updatedAt":"2026-05-23T18:37:21.231Z","createdAt":"2026-05-23T18:35:57.735Z","id":"kZTCj6K5LhchX3bm","name":"hf2333 hf2333 <1733206793a@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"576e0742-c6bf-4d5c-8cb9-409abc0b9aa0"}}],"versionMetadata":{"name":null,"description":null}}]